@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* base text styles */
@layer base {
  h1 {
    @apply text-4xl font-bold;
  }

  h2 {
    @apply text-3xl font-bold;
  }

  h3 {
    @apply text-2xl font-bold;
  }

  h4 {
    @apply text-xl font-bold;
  }

  h5 {
    @apply text-lg font-bold;
  }

  h6 {
    @apply text-base font-bold;
  }

  p {
    @apply text-base;
  }

  a {
    @apply text-blue-500;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

button {
  @apply bg-blue-500 text-white font-bold py-2 px-4 rounded;
}

label {
  @apply block text-sm font-bold;
}

*,
*::before,
*::after {
  box-sizing: border-box;

  /* :hover {
    outline: 1px dashed red;
  } */
}

.container {
  width: calc(var(--size) * 1px);
  height: calc(var(--size) * 1px);
  position: relative;
}

video,
canvas,
.filler {
  max-width: 200px;
  height: auto;
  position: relative;
}

.record-animation {
  animation: recordAnimation 1s infinite;
}

@keyframes recordAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
    background-color: red;
  }
  100% {
    transform: scale(1);
  }
}
